*{
    /*monospace acts like an alternate font for Courier New*/
    font-size: 20px;
    font-family: 'Courier New', monospace;
}


body{
    background-color: skyblue;
}



h1{
    color: orange !important;
    /*The !important property has the highest priority. Using this will prioritize the property.*/
    text-align: center;
    font-size: 2rem;
}


section{
    height: 100vh;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}


html{
    scroll-behavior: smooth;
}


nav{
    background-color: aliceblue;
}

a:hover{
    background-color: #b4d65e;
}


div{
    display: inline-block;
    float: right;
}


h3{
    letter-spacing: 25px;
}


/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
} 

ol{
    list-style-type: none;
}

/* #zuitt-motto + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
} */
    /*The selectors used for combinator selectors aren't limited/restricted to type selectors only. Id, Class, attribute and universal selectors may also be used.*/
	/*The height, changes the vertical dimensions of the element*/
	/*The width, changes the horizontal dimensions of the element*/
	/*The border-radius, changes the corners of the element from sharp to a rounded corners.*/


/*id selector*/
/*#id-name*/
#zuitt-motto {
    letter-spacing: 5px;
}

/*class selector*/
/*.class-name*/
.offering-item {
    text-transform: uppercase;
    /* the text-transform property changes font to a certain case, the value uppercase changes the text to all capitalized letters. */
}

/* General sibling selector */
/* selector~selector */
h2 ~ a {
    text-decoration: none;
}

/* text decoration is the property which changes lines included in the text  */
/* The value none will remove underline from the link */



/* Child Selector
selector > selector */
body > section > form > label {
    color: rgb(237, 17, 35);
}



/*Attribute selector*/
/*tagname[attribute]*/
input[required]{
    border-width: 2px;
    border-style:solid;
    background-color: beige;
    width: 90%;
}

form{
    text-align: center;
    background-color: white;
    height: 180px;
    width: 25vw;
    border: 2px solid black;
    position: relative;
    left: 37.25%;
}

button{
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
}
/*Descendant Selector*/
/*selector selector*/
#bootcamp-learning-list {
    color: #075966;
}
  /* The color property and similar properties that change color can lso accept ex values.Hex values consist of #sign in 
  combination with alphanumeric characters */