
*{
	font-family: Open Sans;
	box-sizing: border-box;
}

nav {
	list-style-type: none;
	position: sticky;
	top: 0px;
	background-color: white;
    margin-top: 1rem;
}
.nav-logo{
	display: inline-block;
	margin: 0.5rem;
    padding-left: 7rem;
}
.nav{
	display: inline-block;
	margin: 0.5rem;
}

.right-nav{
	display: inline;
	float: right;
    padding-right: 130px;

}
.tuitt-button{
    color: white;
    background-color: #c2195b;
	border-radius: 25px;
	font-weight: bold;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-color: transparent;
    font-size: 13px;
}


#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 50vh;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

.title{
	font-family: Zilla Slab, sans-serif;
	color: white;
	text-align: right;
	font-size: 40px;
	padding-left: 55%;
	padding-right: 130px;
    padding-top: 10px;
}

.subtitle{
	color: white;
    font-weight: lighter;
	text-align: right;
	padding-left: 65%;
	padding-right: 130px;
}

.apply-button{
	background-color: #c2195b;
	border-radius: 25px;
    width: 13rem;
    height: 2.8rem;
    font-size: 1rem;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
	display: block;
	float: right;
	margin-right: 130px;
    border-color: transparent;
}
.title-2{
	text-align: center;
	font-family: Zilla Slab, sans-serif;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.intro-description{
	margin-right: 20%;
	margin-left: 20%;
    padding-bottom: 3rem;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: centre;
	min-height: 300px;
    padding-bottom: 10rem;


}

.prefooter-description{
	margin-right: 20%;
	margin-left: 20%;
}

.book-button{
	background-color: #336589;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 0.5rem 2rem ;
	margin-left: 45%;
	margin-right: 45%;
    border-color: transparent;
    width: 10rem;
    font-size: 13px;
    text-align: center;
}

footer{
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

