#external-styling{
	color: yellow;
}

/* 6. Change the font-family and the font size of all elements using the universal selector */
* {
	font-family: "Verdana", monospace;
	font-size: 15px ;
}

/* 7. change the font-size of h1 tags using a type selector */
h1 {
	font-size: 3rem;
}

/* 8. Change the text to all uppercase letters for h2 tags using an id selector */
#uppercase-letters {
	text-transform: uppercase;
}

/* 9. Change the background colors of the languages to be learn list items using a class selectors */
.color-change {
	background-color: lightgreen;
}

li[title] {
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
}

img + ul {
	list-style: none;
}

#dimension-change img {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

/* 13. Change the alignment of the last paragraph using a generic sibling selector */
ul ~ p {
	text-align: center;
}

/* 14. Change the letter spacing of the other things to be learned list items using a child selector */
section > ul {
	letter-spacing: 10px;
}

